body {
    margin: 0;
    padding: 0;
}

a {
    color: #0060A1;
}

#box {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#head {
    width: 100%;
    height: 100px;
}

#head #logo {
    position: relative;
    top: 25px;
    left: 35px;
    font-size: 27pt;
    float: left;
}



/*** COLUMNS ***/

#left-outer {
    float: left;
    width: 170px;
    margin: 0;
    padding: 0;
}

#left {
    overflow: hidden;
    padding: 0px 8px 0px 35px;

}

#content-outer {
    margin: 0 0 0 170px;
    padding: 0;
}

#content {

}

#foot {
    clear: both;
    padding-top: 50px;
}

/********** MENU ***************/

.pointer {
    font-weight: bold;
    font-size: 18pt;
    padding-right: 3px;
    position: relative;
    top: 4px;
}



/************** SHOWCASE **********/

div.product {
    display: inline;
    float: left;

    margin: 3em 2em 0px 0em;
    min-width: 200px;
    width: 15em;
    height: 280px;
}


/************* PRODUCT PAGE *****************/

.product-central-column {
    min-width: 27em;
    width: 70%;
    float: left;

}

.product-right-column {
    min-width: 7em;
    width: 30%;
    float: left;
    padding-top: 64px;
    padding-right: 0px;

}


.product-panel, .product-properties {
    padding: 18px;
    margin-right: 18px;

}

.product-long-description {
    margin-top: 27px;
}


/****************** CART ********************/
#cart {
    float: right;
    width: 295px;
    height: 24px;
    background-color: #ffdc9c;
    margin-right: 18px;
    padding: 18px;
}