body {
    margin: 0;
    padding: 0;
}

a {
    color: #0060A1;
}

#box {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#head {
    width: 100%;
    height: 100px;
}

#head #logo {
    position: relative;
    top: 25px;
    left: 35px;
    font-size: 27pt;
    float: left;
}

/*** COLUMNS ***/

#left-outer {
    float: left;
    width: 170px;
    margin: 0;
    padding: 0;
}

#left {
    overflow: hidden;
    padding: 0px 8px 0px 35px;

}

#content-outer {
    margin: 0 0 0 170px;
    padding: 0;
}

#content {

}

#foot {
    clear: both;
    padding-top: 50px;
}

/********** MENU ***************/

.pointer {
    font-weight: bold;
    font-size: 18pt;
    padding-right: 3px;
    position: relative;
    top: 4px;
}

/************** SHOWCASE **********/

div.product {
    display: inline;
    float: left;

    margin: 0.5em 2em 2.5em 0em;
    min-width: 200px;
    width: 15em;
    height: 280px;
}

/************* PRODUCT PAGE *****************/

.product-central-column {
    min-width: 27em;
    width: 70%;
    float: left;

}

.product-right-column {
    min-width: 7em;
    width: 30%;
    float: left;
    padding-top: 64px;
    padding-right: 0px;

}

.product-panel, .product-properties {
    padding: 18px;
    margin-right: 18px;

}

.product-long-description {
    margin-top: 27px;
}









/******************* MENU-ARTICLES********************/
/******************* MENU-ARTICLES********************/
/******************* MENU-ARTICLES********************/


div#menu {
    float: left;
    width: 400px;
    margin-top: 42px;
    margin-left: 72px;
}

div#menu a {
    padding-right: 18px;
}







/****************** CART ********************/
/****************** CART ********************/
/****************** CART ********************/

div#cart {
    margin-top: -18px;
    float: right;
    width: 275px;
    height: 100%;
    margin-right: 18px;
    padding-top: 15px;

    text-align: center;
}

div#cart div {
    background-color: #99cc00;
    height: 100%;
    padding: 15px;
    white-space: nowrap;
}

div#cart p {
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 95%;
}

div#cart a.checkout {
    font-size: 127%;
}






/****************** EDIT TEMPLATE **************/
/****************** EDIT TEMPLATE **************/
/****************** EDIT TEMPLATE **************/

.propName {
	vertical-align: top;
	font-weight: bold;
    font-size: 95%;
	width: 150px;
	float: left;
	padding: 5px;
	clear: left;
}

.propValue {
	float: left;
	padding: 5px;
    width: 320px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: #FF0000;
	vertical-align: middle;
}

img.errors {
	padding-right: 5px;
}

.errors input, .errors textarea, .errors select {
	border: 1px solid red !important;
}

.required {
	color: #FF0000;
	padding-left: 2px;
}
