
/****************************************************************/
/************************ CONTROLS ******************************/
/****************************************************************/

.loginControl {
    color: red;
    font-size: 100% !important;
    width: 147px;
}