
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: #0060A1;
}

#box {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

#head {
    width: 100%;
    height: 130px;
}

#head #logo {
    position: relative;
    top: 25px;
    left: 35px;
    font-size: 27pt;
    float: left;
}

#logo a {
    text-decoration: none;
}

#shopname {
    font-size: 27pt;
    color: black;
}

#logo #hotline {
    padding-left: 3px;
    font-size: 16pt;
    padding-bottom: 0;
    margin-bottom: 0;
}

#SearchForm {
    margin: 0;
    padding: 0;

    top: 0px;
}

#SearchForm input {
    position: absolute;
    margin-top: 5px;
}

.search-input {
    width: 135px;
    margin-right: 7px;
    left: 4px;

}

.search-button {
    width: 58px;
    left: 147px;
}


/************************ MENU *************************/

#menu ul {
    float: left;
    margin-top: 41px;
    margin-left: 29px;
}

#menu li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}

#menu li a {
    font-size: 12pt;
    color: #0060A1;
}


#shopping-cart {
    width: 210px;
    height: 50px;
    float: right;
    margin-right: 0px;
    position: relative;
    top: 27px;

    font-size: 81%;            

    padding: 10px;
    padding-bottom: 19px;
    background-color: #ffdd54;

    line-height: 1.5em;
}

.enter-href, .exit-href {
    padding-right: 15px;
    font-size: 12pt;
    text-decoration: none;
    border-bottom: dashed 1px;

}

.enter-href {

    background: url('img/enter.gif') no-repeat 100% 5px;
}

.exit-href {

    background: url('img/exit.gif') no-repeat 100% 5px;
}



/*** COLUMNS ***/

/*.column {*/
/*float: left;*/
/*margin: 0px;*/
/*_margin-top: 19px;*/
/*padding-bottom: 20px;*/
/*}*/

#left-outer {
    float: left;
    width: 270px;
    margin: 0;
    padding: 0;
}

#left {
    overflow: hidden;
    padding: 0px 38px 0px 35px;

}

#content-outer {
    margin: 0 0 0 270px;
    padding: 0;
}

#content {

}

#foot {
    clear: both;
}

/********** MENU ***************/

.pointer {
    font-weight: bold;
    font-size: 18pt;
    padding-right: 3px;
    position: relative;
    top: 4px;
}

.red {
    color: #C1272D;
}

.blue {
    color: #0060A1;
}

.green {
    color: #009245;
}

.yellow {
    color: #FBB03B;
}

.violet {
    color: #662D91;
}

.brown {
    color: #754c24;
}

#left-menu a {
    font-size: 12pt;
}

/************** PRODUCTS ********************/

.product {
    width: 230px;
    height: 300px;
    float: left;
}

.product img {
    display: block;
    margin-bottom: 7px;
    border: none;
}

.product p {
    font-size: 94%;
    margin-top: 2px;
    margin-bottom: 2px;
}

.product .price {
    font-weight: bold;
}

/******************** FOOOT *********************/

#foot {
    clear: both;
}

#foot p#contacts {
    font-size: 80%;
    padding-top: 20px;
    padding-left: 35px;
}


.productinfo {
    float: right;
    width: 270px;
    background-color: #F5F5EA;
    padding: 9px;
    margin: 9px;
}

.productimage {
    float: left;
    margin: 13px;
}

#PriceText {
    font-weight: bold;
}
.cntInfo {
}




/********************* CART *****************/

.carttable {
    width: 90%;
    margin-bottom: 18px;
}

.carttablecol {
    border-bottom: solid 1px #ddd;
    padding: 9px 9px;
    vertical-align: top;
}

.cartproductimage {
    margin-right: 20px;
    max-width: 96px;
}

#cart-bottom {
    text-align: right;
    margin-right: 100px;
    font-size: 120%;
}

.cart-good-header {
    border-bottom: solid 1px #ddd;
}

.cart-quantity-header {
    text-align: right;
    padding-right: 9px;
    border-bottom: solid 1px #ddd;
}

.cart-price-header {
    text-align: left;
    padding-left: 9px;
    border-bottom: solid 1px #ddd;
}


/************** ADDRESS *****************/

.addressForm label {
    display: block;
}

.addressForm input, .addressForm textarea, .authFrom input {
    font-size: 14pt;
    margin-bottom: 13px;
}

/* Make buttons large! */
#cart-bottom input {
    font-size: 14pt;
}


span.required {
    color: #3366ff;
    padding-right: 3px;
}

.errors, .error {
    color: red;
}

.errors {
    margin-bottom: 9px;
}

input.disabled {
    background: #666666;
}

span.current_header {
    font-size: 190%;
}

.hidelink {
    cursor: pointer;
    padding-right: 1px;
    padding-top: 2px;
}


.forward-button {
    font-size: 18pt !important;
}

.backward-button {
    font-size: 14pt !important;
}


/**************** CONFIRM **********************/

.confirmtable {
    width: 90%;
}


.confirmtablehead, .confirmtitle, .confirmquantity, .confirmprice {
    text-align: left;
    border-bottom: solid 1px #ddd;
}

.confirmtitle {
    width: 70%;
}

.confirmquantity {
    width: 350px;
}

.confirmpirce {
    width: 270px;
}

.confirmtablecol {
    padding: 13px 0;
    border-bottom: solid 1px #ddd;
    vertical-align: middle;
    
}

.confirmproductimage {
    margin-right: 20px;
    max-width: 96px;
}

.confirmproducttitle {
    font-weight: bold;
}

.price {
    white-space: nowrap;
}

.pricelabel {
    background-color: #99cc00;
    padding: 2px;
    font-weight: bold;
    font-size: 13px;
}

@font-face { font-family: "Rubl Sign"; src: url("http://www.artlebedev.ru/;-)/ruble.eot"); }

span.rur { font-family: "Rubl Sign"; text-transform: uppercase;}
span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .1ex 0 0 -.55em; // display: none; }
span.rur span:before { content: '\2013'; }


/********* SIDEBAR ************/
#sidebar h5 {
    color: #555;
    margin-top: 20px;
    margin-bottom: -10px;
}

#sidebar ul {
    margin-left: -20px;
}

#sidebar li {
    list-style-type: square;
}

#sidebar li a {
    font-size: 81%;
}